.HeroSection {
  position: relative;
  width: 100vw;
  height: 92vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* .HeroContainer {
  position: absolute;
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  backdrop-filter: blur(6px);
} */

.HeroSection h1 {
  font-size: 10em;
  color: white;
  margin: 0;
}

.HeroSection h1::after {
  content: ".";
  font-size: 1em;
  color: var(--color-highlight);
  display: inline-block;
  vertical-align: baseline;
  margin-left: 12px;
}

.HeroSection h2 {
  font-size: 1.7em;
  margin: 0;
}

/* Style for the dividing line between articles */
.DesignLine {
  height: 4px;
  background: var(--color-highlight);
  border-radius: 99px;
  margin: 12px 48px;
}
