/* ContentSection */
section.ContentSection {
  padding: 0 var(--padding-left);
}

/* Stages */
article.Stages {
  display: flex;
  flex-flow: column wrap;
  gap: 50vh;
  justify-content: space-around;
}

/* DesignLine */
div.DesignLine {
  height: 4px;
  background: var(--color-highlight);
  border-radius: 99px;
  margin-bottom: 8vh;
}
