/* Set up the container for the articles */
.ContentSection {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 48px var(--padding-left);
  z-index: 2;
  min-height: 95vh;
  border: 1px solid white;
  scroll-snap-align: start;
}

.ContentSection article {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.ContentSection h1 {
  font-size: 3.5em;
  margin-bottom: 24px;
}
